<div class="thought-form-container">
    <a href="/thoughts/dashboard">Voltar</a>
    {{#if thought}}
    <h1>Editando Pensamento:</h1>
    {{else }}
    <h1>Criando Pensamento:</h1>
    {{/if }}
    <form action="/thoughts/save" method="POST">
        <input id="id" name="id" value="{{ thought.id }}" hidden>
        <div class="form-control">
            <label for="title">Pensamento:</label>
            <input type="text" name="title" value="{{ thought.title }}" placeholder="Digite o seu pensamento...">
        </div>
        {{#if thought}}
        <input type="submit" value="Atualizar Pensamento">
        {{else }}
        <input type="submit" value="Criar Pensamento">
        {{/if }}
    </form>
</div>